<footer class="footer reveal">
  <p>
    <a href="/about">An enthusiastic French Software Engineer.</a>
    <br/>
    <br/>
    <div>
      <span style="width:100px;display:inline-block">Personal</span> <a target="_blank" href="https://aksels.me">aksels.me</a><br/>
    <div>
    <div>
      <span style="width:100px;display:inline-block">Blog</span> <a target="_blank" href="https://aksels.io">aksels.io</a>
    </div>
    <div>
      <span style="width:100px;display:inline-block">Freelancing</span> <a target="_blank" href="https://hypermoon.io">hypermoon.io</a>
    </div>
  </p>
</footer>
