<table>
  <td style="width: 50%">
    <a href="{% asset '{{ include.path1-detail }}' @path %}">
      <img src="{% asset '{{ include.path1 }}' @path %}" alt="{{ include.alt }}" class="zooming"
        data-rjs="{% asset '{{ include.path1-detail }}' @path %}"
        data-zooming-width="{{ assets[include.path1-detail].dimensions.width }}"
        data-zooming-height="{{ assets[include.path1-detail].dimensions.height }}"
      />
    </a>
  </td>
  <td style="width: 50%">
      <a href="{% asset '{{ include.path2-detail }}' @path %}">
      <img src="{% asset '{{ include.path2 }}' @path %}" alt="{{ include.alt }}" class="zooming"
        data-rjs="{% asset '{{ include.path2-detail }}' @path %}"
        data-zooming-width="{{ assets[include.path2-detail].dimensions.width }}"
        data-zooming-height="{{ assets[include.path2-detail].dimensions.height }}"
      />
    </a>    
  </td>
</table>
